body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    
}



.router__link {
    margin: 0 10px;
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid darkblue;
    padding: 5px;
    border-radius: 5px;
}
.router__link:hover {
    color: white;
    background-color: darkblue;
}

nav {
    margin-bottom: 20px;
}
nav a {
    color: #42b983;
}
